<div class="bg-dark">
{% extends 'layout.html' %}

{% block mainContent %}
<h4>Rocky Concrete Customer List</h4>
<table class="table">
    <tr>
        <th>Customer Number</th>
        <th>Customer Name</th>
        <th>Address</th>
    </tr>
    {% for row in customers %}
    <tr>
        <td><a href="/customer_details?cid={{row['cust_no']}}">{{row['cust_no']}}</a></td>
        <td>{{row['cust_name']}}</td>
        <td>{{row['street']}}<br>{{row['town']}} {{row['post_code']}}</td>
    </tr>
    {% endfor %}

</table>
</div>
{% endblock %}